body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f8;
}

header {
    background-color: #ff7f50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

#flavors, #contact {
    margin: 20px 0;
}

footer {
    background-color: #222;
    color: #bbb;
    padding: 10px 0;
    text-align: center;
}